/* You can add global styles to this file, and also import other style files */
body{
	padding-top: 70px;
	padding-bottom: 70px;
}

li{list-style: none;}

.sw-font-white{
	color: white;
}

.sw-width{
	width:100%;
}

.sw-80-width{
	width: 80%;
}

.sw-no-underline:hover{
	text-decoration: none;
}

.sw-left-padding{
	padding-left: 20px;
}

.sw-right-border{
	border-right-style: solid;
}

.sw-gray{
	background-color: gray;
}

.sw-black{
	color: black;
}

.sw-absolute-right{
	position: absolute;
	right: 15px;
}

/*Alignment: Floats widget in front of video*/
.widget-front{
	z-index: 2;
}

.video-width{
	width: 30%
}

.sw-font-blue{
	color: blue;
}